$color: rgba(224, 224, 224, 0.8);

.scroll {
  --size: 10.5vmin;  
  height: var(--size);
  width: calc(var(--size) * 0.52);
  border-radius: var(--size);
  border: calc(var(--size)/26.5) solid $color;
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

  position: fixed;

  @media (min-width: 600px) {
    --size: 5.5vmin;
  }

  &:before {
    content: '';
    position: absolute;
    left: calc(50% - var(--size) / 35);
    top: calc(var(--size)/5);
    height: calc(var(--size)/5);
    width: calc(var(--size)/15);
    background: $color;
    border-radius: 30%;
    animation: scroll 3s infinite;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.8;
    transform: translateY(0);
  }

  40% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translateY(calc(var(--size)/4));
  }
}

.fade-out {
  // visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.fade-in {
  // visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}