.line {
    width: 2px;
    height: 15px;
    background-color: #D9D9D9;
    opacity: 0.5;
}

.github {
    background-color: #aaaaaa;

    &:hover {
        background-color: white;
    }

    -webkit-mask: url("github.svg") no-repeat center;
    mask: url("github.svg") no-repeat center;
}

.linkedin {
    background-color: #aaaaaa;

    &:hover {
        background-color: white;
    }

    transition: all 0.3s;

    -webkit-mask: url("linkedin.svg") no-repeat center;
    mask: url("linkedin.svg") no-repeat center;
}