---
import './styles/menu.scss'
---

<input type="checkbox" id="burger-toggle">
<label for="burger-toggle" class="burger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div> 
</label>

<div class="menu flex flex-col gap-6">
    <div class="menu-item">
        <a class="menu-item-link" href="#blog">/Blog</a>
        <div class="marquee">
            <div class="marquee-inner" aria-hidden="true">
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
                <span>Blog</span>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <a class="menu-item-link" href="#blog">/Works</a>
        <div class="marquee">
            <div class="marquee-inner" aria-hidden="true">
                <span>Works</span>
                <span>Works</span>
                <span>Works</span>
                <span>Works</span>
                <span>Works</span>
                <span>Works</span>
                <span>Works</span>
                <span>Works</span>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <a class="menu-item-link" href="#blog">/About</a>
        <div class="marquee">
            <div class="marquee-inner" aria-hidden="true">
                <span>About</span>
                <span>About</span>
                <span>About</span>
                <span>About</span>
                <span>About</span>
                <span>About</span>
                <span>About</span>
                <span>About</span>
            </div>
        </div>
    </div>
</div>